.linksSection {
  background-color: #b1e8f0;
  border-left: 8px solid #007bff;
  padding: 3px 10px 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 10px;
}

.linksSection img {
  margin-right: 3px;
}

[data-theme="dark"] .linksSection {
  background-color: #1d4017;
  border-left: 8px solid #272729;
}

.linksSection a {
  color: #007bff;
  text-decoration: none;
}

[data-theme="dark"] .linksSection a {
  color: #d1d5db;
}

.linksSection a:hover {
  text-decoration: underline;
}

.titleContainer {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3px;
  align-items: center;
}

[data-theme="dark"] .titleContainer {
  color: #d1d5db;
}

[data-theme="dark"] .linksSection img {
  filter: invert(1) brightness(2);
}
