.img-big-banner {
  max-width: 100%;
}

.img-banner {
  max-width: 80%;
}

.img-small-banner {
  max-width: 60%;
}

.img-huge-icon {
  max-width: 300px;
  max-height: 300px;
}

.img-bigger-icon {
  max-width: 200px;
  max-height: 200px;
}

.img-big-icon {
  max-width: 100px;
  max-height: 100px;
}

.img-icon {
  max-width: 50px;
  max-height: 50px;
}

.img-small-icon {
  max-width: 30px;
  max-height: 30px;
}

.img-tiny-icon {
  max-width: 20px;
  max-height: 20px;
}

.img-very-tiny-icon {
  max-width: 10px;
  max-height: 10px;
}

.img-big-img {
  max-width: 65%;
}

.img-img {
  max-width: 40%;
}

.img-small-img {
  max-width: 25%;
}